.bodyPosition {
    margin-top: 75px;
}

h1 {
    font-family:"Rampart one";
    letter-spacing :8px;
}

h2 {
    font-family: cursive;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.subHeading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Venuerow {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-bottom:30px;
    margin-top: 20px;
    
}

@media only screen and (orientation:portrait) {
    article > section {
        color:plum
    }
}

article {
    display:grid;
    height:100%;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

@media only screen and (max-width: 500px) {
    
    .img-vis {
        display:none;
    }
    .Venuerow {
        justify-content: center;
    }
     p {
        font-weight: bold;
    }
    body > main > section {
        flex-direction: column;
    }
}